@model BTL_ClientServer.Models.Objects._SanPhamSinger
@using BTL_ClientServer.Models.Entity
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var listImage = (List<Image>)ViewData["_listImageById"];
    var listRelatedProduct = (List<SanPham>)ViewData["relatedProducts"];
}

<div class="wrapper">
    <!-- Start page content -->
    <section id="page-content" class="page-wrapper">

        <!-- SHOP SECTION START -->
        <div class="shop-section mb-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-xs-12">
                        <!-- single-product-area start -->
                        <div class="single-product-area mb-80">
                            <div class="row">
                                <!-- imgs-zoom-area start -->
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="imgs-zoom-area">
                                        <img id="zoom_03" src="~/Content/User/img/product/@listImage[0].TenAnh" data-zoom-image="/Content/User/img/product/@listImage[0].TenAnh" alt="">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div id="gallery_01" class="carousel-btn slick-arrow-3 mt-30">
                                                    @foreach (var i in listImage)
                                                    {
                                                        <div class="p-c">
                                                            <a href="#" data-image="/Content/User/img/product/@i.TenAnh" data-zoom-image="/Content/User/img/product/@listImage[0].TenAnh">
                                                                <img class="zoom_03" src="~/Content/User/img/product/@i.TenAnh" alt="">
                                                            </a>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- imgs-zoom-area end -->
                                <!-- single-product-info start -->
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <div class="single-product-info">
                                        <h3 class="text-black-1">@Model.TenSanPham </h3>
                                        <h4 class="brand-name-2">Thương hiệu : @Model.TenThuongHieu</h4>
                                        <h6 class="brand-name-2">@Model.DoiTuongSuDung</h6>
                                        <h
                                        <!--  hr -->
                                        <hr>
                                        <!-- single-pro-color-rating -->
                                        <div class="single-pro-color-rating clearfix">
                                            <div class="sin-pro-color f-left">
                                                <p class="color-title f-left">Color</p>
                                                <div class="widget-color f-left">
                                                    <ul>
                                                        <li class="color-1"><a href="#"></a></li>
                                                        <li class="color-2"><a href="#"></a></li>
                                                        <li class="color-3"><a href="#"></a></li>
                                                        <li class="color-4"><a href="#"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="pro-rating sin-pro-rating f-right">
                                                <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#" tabindex="0"><i class="zmdi zmdi-star"></i></a>
                                                <a href="#" tabindex="0"><i class="zmdi zmdi-star-half"></i></a>
                                                <a href="#" tabindex="0"><i class="zmdi zmdi-star-outline"></i></a>
                                                <span class="text-black-5">( 27 Rating )</span>
                                            </div>
                                        </div>
                                        <!-- hr -->
                                        <hr>
                                        <!-- plus-minus-pro-action -->
                                        <div class="plus-minus-pro-action clearfix">
                                            <div class="sin-plus-minus f-left clearfix">
                                                <p class="color-title f-left">Qty</p>
                                                <div class="cart-plus-minus f-left">
                                                    <input type="text" value="01" name="qtybutton" class="cart-plus-minus-box">
                                                </div>
                                            </div>
                                            <div class="sin-pro-action f-right">
                                                <ul class="action-button">
                                                    <li>
                                                        <a href="#" title="Wishlist" tabindex="0"><i class="zmdi zmdi-favorite"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview" tabindex="0"><i class="zmdi zmdi-zoom-in"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="Compare" tabindex="0"><i class="zmdi zmdi-refresh"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#" title="Add to cart" tabindex="0"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- plus-minus-pro-action end -->
                                        <!-- hr -->
                                        <hr>
                                        <!-- single-product-price -->
                                        <h3 class="pro-price">Price: @String.Format("{0:0,0}", Model.Gia) vnđ.</h3>
                                        <!--  hr -->
                                        <hr>
                                        <div>
                                            <a href="/GioHang/Index" class="button extra-small button-black" tabindex="-1">
                                                <span class="text-uppercase">Buy now</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- single-product-info end -->
                            </div>
                            <!-- single-product-tab -->
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- hr -->
                                    <hr>
                                    <div class="single-product-tab">
                                        <ul class="reviews-tab mb-20">
                                            <li class="active"><a href="#description" data-toggle="tab">Mô tả</a></li>
                                            <li><a href="#information" data-toggle="tab">Thông tin</a></li>
                                            <li><a href="#reviews" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="description">
                                                <p>@Model.ThongTinThuongHieu</p>
                                                <p>@Model.MoTaThuongHieu</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="information">
                                                <p>Tên sản phẩm :@Model.TenSanPham</p>
                                                <p>Kích thước bề mặt :@Model.KichThuocBeMat cm.</p>
                                                <p>Chất liệu dây :@Model.ChatLieuDay</p>
                                                <p>Độ rộng của dây :@Model.DoRongCuaDay cm.</p>
                                                <p>Kiểu khóa :@Model.KieuKhoa</p>
                                                <p>Độ dày :@Model.DoDay cm.</p>
                                                <p>Độ dài :@Model.DoDai cm.</p>
                                                <p>Chất liệu vỏ máy :@Model.ChatLieuVoMay</p>
                                                <p>Máy :@Model.May</p>
                                                <p>Chất liệu mặt kính :@Model.ChatLieuMatKinh</p>
                                                <p>Khả năng chống nước :@Model.KhaNangChiuNuoc</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="reviews">
                                                <!-- reviews-tab-desc -->
                                                <textarea class="custom-textarea" id="textComment" placeholder="Your address here..."></textarea>
                                                <button class="submit-btn-1 mt-30 btn-hover-1" type="submit" id="btnSave">place order</button>
                                                <div class="reviews-tab-desc" style="margin-top: 20px;">
                                                    <div id="loadcomment">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--  hr -->
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <!-- single-product-area end -->
                        <div class="related-product-area">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title text-left mb-40">
                                        <h2 class="uppercase">Sản phẩm xem gần đây</h2>
                                        <h6>There are many variations of passages of brands available,</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-product">
                                <div class="row active-featured-product slick-arrow-2">
                                    @foreach (var item in listRelatedProduct)
                                    {
                                        var img = (new BTL_ClientServer.Models.Functions.SanPham()).GetImageByProductId(item.Id)[0].TenAnh;
                                        <!-- product-item start -->
                                        <div class="col-xs-12">
                                            <div class="product-item">
                                                <div class="product-img">
                                                    <a href="@Url.Action("SingleProduct","Product", new {@id = item.Id})">
                                                        <img src="~/Content/User/img/product/@img" alt="" />
                                                    </a>
                                                </div>
                                                <div class="product-info">
                                                    <h6 class="product-title">
                                                        <a href="single-product.html">@item.TenSanPham</a>
                                                    </h6>
                                                    <div class="pro-rating">
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                        <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                    </div>
                                                    <h3 class="pro-price">@String.Format("{0:0,0}", item.Gia) vnđ.</h3>
                                                    <ul class="action-button">
                                                        <li>
                                                            <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- product-item end -->
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <aside class="widget widget-categories box-shadow mb-30">
                            <h6 class="widget-title border-left mb-20">Categories</h6>
                            <div id="cat-treeview" class="product-cat">
                                <ul>
                                    <li class="closed">
                                        <a href="#">Hãng</a>
                                        <ul>
                                            <li><a href="#">Mobile</a></li>
                                            <li><a href="#">Tab</a></li>
                                            <li><a href="#">Watch</a></li>
                                            <li><a href="#">Head Phone</a></li>
                                            <li><a href="#">Memory</a></li>
                                        </ul>
                                    </li>
                                    <li class="open">
                                        <a href="#">Brand Two</a>
                                        <ul>
                                            <li><a href="#">Mobile</a></li>
                                            <li><a href="#">Tab</a></li>
                                            <li><a href="#">Watch</a></li>
                                            <li><a href="#">Head Phone</a></li>
                                            <li><a href="#">Memory</a></li>
                                        </ul>
                                    </li>
                                    <li class="closed">
                                        <a href="#">Accessories</a>
                                        <ul>
                                            <li><a href="#">Footwear</a></li>
                                            <li><a href="#">Sunglasses</a></li>
                                            <li><a href="#">Watches</a></li>
                                            <li><a href="#">Utilities</a></li>
                                        </ul>
                                    </li>
                                    <li class="closed">
                                        <a href="#">Top Brands</a>
                                        <ul>
                                            <li><a href="#">Mobile</a></li>
                                            <li><a href="#">Tab</a></li>
                                            <li><a href="#">Watch</a></li>
                                            <li><a href="#">Head Phone</a></li>
                                            <li><a href="#">Memory</a></li>
                                        </ul>
                                    </li>
                                    <li class="closed">
                                        <a href="#">Jewelry</a>
                                        <ul>
                                            <li><a href="#">Footwear</a></li>
                                            <li><a href="#">Sunglasses</a></li>
                                            <li><a href="#">Watches</a></li>
                                            <li><a href="#">Utilities</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <!-- operating-system -->
                        <aside class="widget operating-system box-shadow mb-30">
                            <h6 class="widget-title border-left mb-20">operating system</h6>
                            <form action="https://demo.hasthemes.com/subas-preview/subas/action_page.php">
                                <label><input type="checkbox" name="operating-1" value="phone-1">Windows Phone</label><br>
                                <label><input type="checkbox" name="operating-1" value="phone-1">Bleckgerry ios</label><br>
                                <label><input type="checkbox" name="operating-1" value="phone-1">Android</label><br>
                                <label><input type="checkbox" name="operating-1" value="phone-1">ios</label><br>
                                <label><input type="checkbox" name="operating-1" value="phone-1">Windows Phone</label><br>
                                <label><input type="checkbox" name="operating-1" value="phone-1">Symban</label><br>
                                <label class="mb-0"><input type="checkbox" name="operating-1" value="phone-1">Bleckgerry os</label><br>
                            </form>
                        </aside>
                        <!-- widget-product -->
                        <aside class="widget widget-product box-shadow">
                            <h6 class="widget-title border-left mb-20">recent products</h6>
                            <!-- product-item start -->
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img src="~/Content/User/img/product/4.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h6 class="product-title">
                                        <a href="single-product.html">Product Name</a>
                                    </h6>
                                    <h3 class="pro-price">$ 869.00</h3>
                                </div>
                            </div>
                            <!-- product-item end -->
                            <!-- product-item start -->
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img src="~/Content/User/img/product/4.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h6 class="product-title">
                                        <a href="single-product.html">Product Name</a>
                                    </h6>
                                    <h3 class="pro-price">$ 869.00</h3>
                                </div>
                            </div>
                            <!-- product-item end -->
                            <!-- product-item start -->
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img src="~/Content/User/img/product/4.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h6 class="product-title">
                                        <a href="single-product.html">Product Name</a>
                                    </h6>
                                    <h3 class="pro-price">$ 869.00</h3>
                                </div>
                            </div>
                            <!-- product-item end -->
                            <!-- product-item start -->
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img src="~/Content/User/img/product/8.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h6 class="product-title">
                                        <a href="single-product.html">Product Name</a>
                                    </h6>
                                    <h3 class="pro-price">$ 869.00</h3>
                                </div>
                            </div>
                            <!-- product-item end -->
                            <!-- product-item start -->
                            <div class="product-item">
                                <div class="product-img">
                                    <a href="single-product.html">
                                        <img src="~/Content/User/img/product/12.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="product-info">
                                    <h6 class="product-title">
                                        <a href="single-product.html">Product Name</a>
                                    </h6>
                                    <h3 class="pro-price">$ 869.00</h3>
                                </div>
                            </div>
                            <!-- product-item end -->
                        </aside>
                    </div>
                </div>
            </div>
        </div>
        <!-- SHOP SECTION END -->
    </section>
    <!-- End page content -->


</div>
@section Scripts
    {
    <script type="text/javascript">
        $(function () {
            LoadData();
            $("#btnSave").click(function () {
                var s = {};
                s.Comment = $("#textComment").val();
                s.IdSanPham = @Model.Id;
                $.ajax({
                    type: "POST",
                    url: '/Product/postComment',
                    dataType: "json",
                    data: '{dg: ' + JSON.stringify(s) + '}',
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                        $("#textComment").empty();
                        LoadData();
                    },
                    error: function () {
                        alert("Bạn chưa đăng nhập! Vui lòng đăng nhập để comment!");
                    }
                });
                
            })
        })

        function LoadData() {
            $("#loadcomment").empty();
            $.ajax({
                url: '/Product/getComment?idSp='+@Model.Id,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (key, item) {
                        var row = "<div class='media mt-30'>"+
                                      "<div class='media-left'>"+
                                            "<a href='#'><img class='media-object' src='/Content/User/img/author/2.jpg' alt='#'></a>"+
                                        "</div>"+
                                        "<div class='media-body'>"+
                                            "<div class='clearfix'>"+
                                                "<div class='name-commenter pull-left'>" +
                                                    "<h6 class='media-heading'><a href='#'>" + item.TenKhachHang + "</a></h6>" +
                                                    "<p class='mb-10'>" + item.Ngay + "</p>"+
                                                "</div>"+
                                                "<div class='pull-right'>"+
                                                    "<ul class='reply-delate'>"+
                                                        "<li><a href='#'>Trả lời</a></li>"+
                                                    "</ul>"+
                                                "</div>"+
                                            "</div>" +
                                            "<p class='mb-0'>" + item.Comment + "</p>" +
                                        "</div>"+
                                     "</div>";
                        $("#loadcomment").append(row);
                    })
                    
                },
                error: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
            return false;
        }
    </script>
}


