@model IEnumerable<BTL_ClientServer.Models.Objects._SanPham>
@using BTL_ClientServer.Models.Entity
@using BTL_ClientServer.Models.Objects

<!-- BY BRAND SECTION START-->
<div class="by-brand-section mb-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-left mb-40">
                    <h2 class="uppercase">Thương hiệu</h2>
                    <h6>Có rất nhiều thương hiệu cho bạn lựa chọn</h6>
                </div>
            </div>
        </div>
        <div class="by-brand-product">
            <div class="row active-by-brand slick-arrow-2">
                @foreach (ThuongHieu th in (List<ThuongHieu>)ViewData["_Trademark"])
                {
                    <!-- single-brand-product start -->
                    <div class="col-xs-12">
                        <div class="single-brand-product">
                            <a href=""><img src="~/Content/User/img/product/1.jpg" alt=""></a>
                            <h3 class="brand-title text-gray">
                                <a href="#">@th.TenThuongHieu</a>
                            </h3>
                        </div>
                    </div>
                    <!-- single-brand-product end -->
                }
            </div>
        </div>
    </div>
</div>
<!-- BY BRAND SECTION END -->
<!-- FEATURED PRODUCT SECTION START -->

<div class="featured-product-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-left mb-40">
                    <h2 class="uppercase">Sản phẩm giảm giá</h2>
                    <h6>Sản phẩm được giảm giá nhiều nhất theo % trong thời gian qua!</h6>
                </div>
            </div>
        </div>
        <div class="featured-product">
            <div class="row active-featured-product slick-arrow-2">

                @foreach (var item in Model)
                {
                    var img = (new BTL_ClientServer.Models.Functions.SanPham()).GetImageByProductId(item.Id)[0].TenAnh;
                    <!-- product-item start -->
                    <div class="col-xs-12">
                        <div class="product-item">
                            <div class="product-img">
                                <a href="@Url.Action("SingleProduct","Product", new {@id = item.Id})">
                                    <img src="~/Content/User/img/product/@img" alt="" />
                                </a>
                            </div>
                            <div class="product-info">
                                <h6 class="product-title">
                                    <a href="@Url.Action("SingleProduct","Product", new {@id = item.Id})">@item.TenSanPham</a>
                                </h6>
                                <div class="pro-rating">
                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                    <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                </div>
                                <h3 class="pro-price">@String.Format("{0:0,0}", item.Gia) vnđ.</h3>
                                <ul class="action-button">
                                    <li>
                                        <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("AddGioHang", "GioHang",new { @idSp = item.Id, @URL = Request.Url.ToString() })" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- product-item end -->
                }
            </div>
        </div>
    </div>
</div>
<!-- FEATURED PRODUCT SECTION END -->
<!-- PRODUCT TAB SECTION START -->
<div class="product-tab-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="section-title text-left mb-40">
                    <h2 class="uppercase">Danh sách sản phẩm</h2>
                    <h6>Có rất nhiều danh sách cho bạn lựa chọn</h6>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="pro-tab-menu text-right">
                    <!-- Nav tabs -->
                    <ul class="">
                        <li class="active"><a href="#popular-product" data-toggle="tab">Sản phẩm phổ biến</a></li>
                        <li><a href="#new-arrival" data-toggle="tab">Sản phẩm mới</a></li>
                        <li><a href="#best-seller" data-toggle="tab">Bán chạy nhất</a></li>
                        <li><a href="#special-offer" data-toggle="tab">Sản phẩm đặc biệt</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-tab">
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- popular-product start -->
                <div class="tab-pane active" id="popular-product">
                    <div class="row">
                        @foreach (_SanPham i in (List<_SanPham>)ViewData["_ProductPopular"])
                        {
                            var img = (new BTL_ClientServer.Models.Functions.SanPham()).GetImageByProductId(i.Id)[0].TenAnh;
                            <!-- product-item start -->
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="@Url.Action("SingleProduct","Product", new {@id = i.Id})">
                                            <img src="~/Content/User/img/product/@img" alt="" />
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h6 class="product-title">
                                            <a href="@Url.Action("SingleProduct","Product", new {@id = i.Id})">@i.TenSanPham</a>
                                        </h6>
                                        <div class="pro-rating">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        </div>
                                        <h3 class="pro-price">@String.Format("{0:0,0}", i.Gia) vnđ.</h3>
                                        <ul class="action-button">
                                            <li>
                                                <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- product-item end -->
                        }
                    </div>
                </div>
                <!-- popular-product end -->
                <!-- new-arrival start -->
                <div class="tab-pane" id="new-arrival">
                    <div class="row">
                        @foreach (_SanPham i in (List<_SanPham>)ViewData["_ProductNew"])
                        {
                            var img = (new BTL_ClientServer.Models.Functions.SanPham()).GetImageByProductId(i.Id)[0].TenAnh;
                            <!-- product-item start -->
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="@Url.Action("SingleProduct","Product", new {@id = i.Id})">
                                            <img src="~/Content/User/img/product/@img" alt="" />
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h6 class="product-title">
                                            <a href="@Url.Action("SingleProduct","Product", new {@id = i.Id})">@i.TenSanPham</a>
                                        </h6>
                                        <div class="pro-rating">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        </div>
                                        <h3 class="pro-price">@String.Format("{0:0,0}", i.Gia) vnđ.</h3>
                                        <ul class="action-button">
                                            <li>
                                                <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- product-item end -->
                        }
                    </div>
                </div>
                <!-- new-arrival end -->
                <!-- best-seller start -->
                <div class="tab-pane" id="best-seller">
                    <div class="row">
                        @foreach (_SanPham i in (List<_SanPham>)ViewData["_ProductSale"])
                        {
                            var img = (new BTL_ClientServer.Models.Functions.SanPham()).GetImageByProductId(i.Id)[0].TenAnh;
                            
                            <!-- product-item start -->
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="@Url.Action("SingleProduct","Product", new {@id = i.Id})">
                                            <img src="~/Content/User/img/product/@img" alt="" />
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h6 class="product-title">
                                            <a href="@Url.Action("SingleProduct","Product", new {@id = i.Id})">@i.TenSanPham</a>
                                        </h6>
                                        <div class="pro-rating">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        </div>
                                        <h3 class="pro-price">@String.Format("{0:0,0}", i.Gia) vnđ.</h3>
                                        <ul class="action-button">
                                            <li>
                                                <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- product-item end -->
                        }

                    </div>
                </div>
                <!-- best-seller end -->
                <!-- special-offer start -->
                <div class="tab-pane" id="special-offer">
                    <div class="row">
                        @foreach (_SanPham i in (List<_SanPham>)ViewData["_ProductSpecial"])
                        {
                            var img = (new BTL_ClientServer.Models.Functions.SanPham()).GetImageByProductId(i.Id)[0].TenAnh;
                            <!-- product-item start -->
                            <div class="col-md-3 col-sm-4 col-xs-12">
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="@Url.Action("SingleProduct","Product", new {@id = i.Id})">
                                            <img src="~/Content/User/img/product/@img" alt="" />
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h6 class="product-title">
                                            <a href="@Url.Action("SingleProduct","Product", new {@id = i.Id})">@i.TenSanPham</a>
                                        </h6>
                                        <div class="pro-rating">
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                            <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                        </div>
                                        <h3 class="pro-price">@String.Format("{0:0,0}", i.Gia) vnđ.</h3>
                                        <ul class="action-button">
                                            <li>
                                                <a href="#" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#productModal" title="Quickview"><i class="zmdi zmdi-zoom-in"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" title="Compare"><i class="zmdi zmdi-refresh"></i></a>
                                            </li>
                                            <li>
                                                <a href="#" title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- product-item end -->
                        }

                    </div>
                </div>
                <!-- special-offer end -->
            </div>
        </div>
    </div>
</div>
<!-- PRODUCT TAB SECTION END -->

@Html.Partial("_Blocks")