
@{
    ViewBag.Title = "XemSanPhamBanChayTrongThang";
    Layout = "~/Views/Shared/_Layout_ThongKe.cshtml";
}

@*@model IEnumerable<BTL_ClientServer.Models.Dto.SanPhamDto>*@
@model PagedList.IPagedList<BTL_ClientServer.Models.Dto.SanPhamDto>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<table class="table  table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Tên Sản Phẩm </th>
            <th scope="col">Giá</th>
            <th scope="col">Sản Phẩm Bán Trong Tháng</th>
            <th scope="col">Hình Ảnh</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var img = (new BTL_ClientServer.Models.Functions.SanPham()).GetImageByProductId(item.IdSanPham)[0].TenAnh;
            <tr>
                <td><h3>@item.TenSanPham</h3></td>
                <td>@String.Format("Giá tiền 1 SP là: {0:0,00}", item.Gia) VND</td>
                <th class="text-center">@item.SoSanPham</th>


                <td><img src="~/Content/User/img/product/@img" alt="Alternate Text" style="width:60px;height:70px;" class="img-responsive" /></td>
            </tr>
        }
    </tbody>
</table>

<br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) trong tổng số : @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("XemSanPhamBanChayTrongThang", new { page, ViewBag.thang }))


