@model IEnumerable<BTL_ClientServer.Models.Entity.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/HomeAdmin/Index.cshtml";
}


<p>
    @Html.ActionLink("Thêm Sản Phẩm", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThuongHieu.MaThuongHieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DoiTuongSuDung)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.GiamGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhap)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThuongHieu.MaThuongHieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DoiTuongSuDung)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.GiamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhap)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>